name: Storybook preview deploy

on:
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  build:
    if: contains(toJson(github.event.pull_request.labels), '[Preview] storybook')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Enable node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: yarn install

      - name: Build storybook
        run: yarn build-storybook

      - name: Rename storybook-static folder
        run: |
          mv storybook-static pr_${{github.event.pull_request.number}}

      - id: upload-files
        uses: google-github-actions/upload-cloud-storage@main
        with:
          credentials: ${{ secrets.GCP_CREDENTIALS }}
          path: ./pr_${{github.event.pull_request.number}}
          destination: storybook-preview
